* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    width: 100vw;
    height: 100vh;
    
}

main {
    padding: 50px;
}

#cabecalho {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: #660e0e;
    padding: 10px 20px;
}

#logo {
    width: 50px;
    height: 50px;
    background-image: url('logo.png'); /* Substituir pelo caminho da logo */
    background-size: cover;
    border-radius: 50%;
}

#titulo {
    color: white;
    font-size: 32px;
    text-align: center;
    flex-grow: 1;
}



#conteudo {
    padding: 30px;
    text-align: center;
}

#tabela-barbeiros {
    
    border-collapse: collapse;
    margin-bottom: 50px;
}

#tabela-barbeiros th,
#tabela-barbeiros td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: center;
}

.linha-cabecalho {
    background-color: #8e1b1b;
    color: white;
}

#botao-cadastrar {
    position: fixed;
    bottom: 40px;
    right: 30px;
    background-color: #660e0e;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
    font-size: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 280px;
    height: 60px;
}

#botao-cadastrar:hover {
    background-color: #880f0f;
}
#excluir{
    background-color: #660e0e;
    color: #ffffff;
    width: 60px;
    height: 25px;
    border: none;
    outline: none;
    border-radius: 10px;
}
#atualizar{
    background-color: #660e0e;
    color: #ffffff;
    width: 60px;
    height: 25px;
    border: none;
    outline: none;
    border-radius: 10px;
}
.acoes{
    padding: 5px;
}
